@import "splashstylesheet.css"; 

@keyframes spinHorizontal {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.spin {
	display: inline-block;
	animation: spinHorizontal 4s 2 linear;
}

.middle {
	display: flex;
	justify-content: space-around;
}

/* Player stats */

.stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75vh;
	width: 20vh;
	border: 1px solid #8b4513;
}

.stats.active {
	border: 2px solid #060;
}

.last, .taken {
	display: flex;
	border: 1px solid #888;
	width: 90%;
	height: 36%;
	text-align: center;
	vertical-align: middle;
	font-size: 2rem;
}

/* Chess board */

.board {
	display: flex;
	flex-direction: column;
	height: 75vh;
	align-items: center;
	justify-content: center;
	width: 50vw;
	border: 1px solid #8b4513;
}

.row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: center;
}

.cell {
	flex-basis: 5rem;
	height: 5rem;
	flex-shrink: 0;
	color: tomato;
	text-align: center;
	vertical-align: middle;
	line-height: 5rem;
	font-size: 4rem;
	background: gold;
}

.cell.even {
	background: tomato;
}
.cell.selected {
	box-sizing: border-box;
	line-height: 4.3rem;
	border: 6px solid #060;
}
.cell.highlight {
	box-sizing: border-box;
	line-height: 4.3rem;
	border: 6px solid #c5c;
}
.cell.highlight:hover {
	background-color: #c5c;
}