header {
    background: black;
    margin-bottom: 0;      
}

h1{
    color:white; 
    text-shadow: 4px 4px 4px #aaa;
    font-size: 80%; 
}

h2 {
    color:white; 
    text-align: left;  
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

p {
    color: white; 
}

.nowrap {
    white-space: nowrap; 
}

.neon {
    font-family: 'Bangers', cursive; 
    font-size: 85px;  
    color: tomato; 
    text-shadow: 2px 2px gold;
    text-align: center; 
}

@keyframes giddy {
    from {color: tomato;}
    to {color: gold;}
}

.icon {
    position: relative; 
    animation-name: giddy; 
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.input {
    margin: auto; 
    width: 50%; 
    padding: 10px; 
}

body{
    background: black; 
}

h3{
    color: white; 
}

.guide {
    border: 1px solid gold; 
    float: left; 
    width: 50%; 
    margin: auto;  
    padding: 50px; 
    text-align: center; 
}

.statistics {
    border: 1px solid gold;
    float: right;
    width: 50%;   
    margin: auto; 
    padding: 50px;   
}


