@import "splashstylesheet.css"; 

.stats_black {
    float: left; 
    width: 15%; 
    text-align: center; 
}

.stats_white {
    float: right; 
    width: 15%; 
    text-align: center; 
}

.last {
    border: 1px solid gold; 
    text-align: center;
    height: 200px;  
}

.taken {
    border: 1px solid gold; 
    text-align: center; 
    height: 200px; 
}
