header {
    background: black;
    margin-bottom: 0;      
}

h1{
    text-shadow: 4px 4px 4px #aaa;
    font-size: 80%; 
}

h2 {
    color:white; 
    text-align: center;  
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}
p::before { 
    content: "Read this -";
    color: gold;
    font-weight: bold;
  }

<<<<<<< HEAD
h2::after{
    content: "!"; 
}

=======
>>>>>>> f781f473827435603da9261d34a42298817db57d
button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; 
    background-color: tomato; 
    border: none; 
    color: black; 
    text-align: center; 
    font-size: 25px; 
    position: absolute; 
    margin-left: 240px;
    border-radius: 8px; 
    padding: 10px 15px;  
    box-shadow: 0 7px #999;   
}

button:hover {
    background-color: coral; 
    color: black; 
}

button:active {
    background-color: whitesmoke; 
    box-shadow: 0 2px #666; 
    transform: translateY(5px); 
}

p {
    color: white; 
}

.nowrap {
    white-space: nowrap; 
}

.neon {
    font-family: 'Bangers', cursive; 
    font-size: 85px;  
    color: tomato; 
    text-shadow: 2px 2px gold;
    text-align: center; 
}

@keyframes giddy {
    from {color: tomato;}
    to {color: gold;}
}

.icon {
    position: relative; 
    animation-name: giddy; 
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.input {
    margin: auto; 
    width: 50%; 
    padding: 75px; 
    text-align: center; 
}

#username {
    height: 40px; 
    font-size: 14pt; 
}

body{
    background: black; 
}

h3{
    color: white; 
}

.guide {
    border: 1px solid gold; 
    float: left; 
    width: 40%; 
    height: 300px; 
    margin: 10px;  
    padding: 30px; 
    padding-right: 30px; 
    text-align: center; 
    overflow: visible;
    overflow: auto;
}

.statistics {
    border: 1px solid gold;
    float: right;
    width: 40%;  
    height: 300px;  
    margin: 10px; 
    padding: 30px;  
    padding-left: 30px; 
    text-align: center;  
}


